[submodule "emscripten"]
	path = emscripten
	url = https://github.com/emscripten-core/emscripten.git
[submodule "emsdk"]
	path = emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "spec/SUIT"]
	path = spec/SUIT
	url = https://github.com/TannerRogalsky/SUIT.git
[submodule "megasource"]
	path = megasource
	url = https://github.com/Davidobot/megasource.git
[submodule "love"]
	path = love
	url = https://github.com/Davidobot/love.git
